.page-domains .domains-container {
  margin: 20px 0;
}

.action-sheet,
.action-sheet-mask {
  position: fixed;
}

.hide-this-sheet {
  display: none;
}

.domain-action-link {
  color: #0076ff;
  text-decoration: none;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 12px 15px 12px;
  font-size: 12px;
  color: #8E8E93;
}
.footer a, .footer a:visited {
  color: #8E8E93;
}